.dropdown-item a {
    text-decoration: none;
    color: #222222 !important;
}

.dropdown-item:hover {
    background-color: #f96332  !important;
    font-weight: bold;
}

.dropdown-item a:hover {
    color: #ffffff;
}

.alert {
    border-radius: 30px;
}

.img-apparition {
    margin-bottom: 5px;
}

.news {
    margin-top: 2em;
}

.alert-index {
    position: absolute;
    margin-top: 4em;
    width: 100%;
    z-index: 1000;
}

.invalid-feedback {
    display: block;
}